header
  width: 100%
  background-color: #dadada
  height: 100vh
  position: relative
  section
    +grid-row
    position: relative
    top: 40%
    transform: translateY(-40%)
    text-align: center

section#work
  article
    +grid-row
    padding-top: 0
    @media #{$medium}
      padding-top: em-calc(20)
    ul
      +grid-column(12)
      margin: 0
      padding: 0
      li
        list-style: none
      @media #{$medium}
        +block-grid(2)
      @media #{$large}
        +block-grid(3)
      img
        width: 100%
