section.home
  .wrapper
    ul
      margin: 0
      padding: 0
      li
        list-style: none
        padding: 0 !important
      @media #{$medium}
        +block-grid(3)
      @media #{$large}
        +block-grid(4)
      img
        width: 100%
.portfolio-item:hover
  +single-transition
  opacity: .5
