section.project
  .wrapper
    article
      +grid-row
      .coming-soon
        -webkit-animation-delay: 1s
        animation-delay: 1s
        padding: em-calc(75 0 50 0)
        position: absolute
        top: 40%
        bottom: 0
        right: 0
        left: 0
        h3, h5, p
          text-align: center
      &.hero
        @media #{$medium}
          text-align: center
        .item-text
          +grid-column(12)
          margin-top: 150px
          margin-bottom: 50px
          @media #{$medium}
            +grid-column(10,$offset:1)
          @media #{$large}
            +grid-column(8,$offset:2)
      &.content
        .item-image
          margin-top: 50px
          margin-bottom: 50px
          +grid-column(12)
          @media #{$medium}
            +grid-column(9,$offset:1.5)
          @media #{$large}
            +grid-column(6,$offset:3)
      &.intro
        padding-top: 100px
        padding-bottom: 50px
        @media #{$medium}
          padding-bottom: 100px
        @media #{$large}
          padding-top: 150px
        .item-text
          +grid-column(12)
          @media #{$medium}
            +grid-column(5)
            padding-top: 100px
          @media #{$large}
            +grid-column(4)
        .item-image
          +grid-column(12)
          @media #{$medium}
            +grid-column(7)
            padding-top: 75px
          @media #{$large}
            +grid-column(8)
            padding-top: 0
      &.image
        padding-bottom: 40px
        .item-image
          +grid-column(12)
          padding-top: 50px
          img
            display: block
            margin: 0 auto
            box-shadow: 5px 5px 5px $light-gray
          @media #{$medium}
            +grid-column(7)
            padding: 0
          @media #{$large}
            +grid-column(7)
        .item-text
          +grid-column(12)
          @media #{$medium}
            +grid-column(5)
            padding-top: 100px
          @media #{$large}
            +grid-column(5)
          h3
            padding-top: 20px
            padding-bottom: 20px
      &.tablet
        padding-bottom: 75px
        .item-text
          +grid-column(12)
          @media #{$medium}
            +grid-column(6)
            padding-top: 200px
          @media #{$large}
            +grid-column(5)
          h3
            padding-top: 20px
            padding-bottom: 15px
        .item-image
          +grid-column(12)
          @media #{$medium}
            +grid-column(6)
            padding-top: 75px
          @media #{$large}
            +grid-column(7)
            padding-top: 0
      &.phone
        padding-bottom: 40px
        .item-text
          +grid-column(12)
          @media #{$medium}
            +grid-column(5)
            padding-top: 250px
          h3
            padding-top: 20px
            padding-bottom: 15px
        .item-image
          +grid-column(10,$offset:1)
          @media #{$medium}
            +grid-column(7,$offset:0)
            padding-top: 75px
          @media #{$large}
            +grid-column(5,$offset:2)
            padding-top: 0
      &.compare
        padding-bottom: 40px
        .item-image
          +grid-column(12)
          padding-top: 50px
          @media #{$medium}
            +grid-column(6)
          select
            +grid-column(12)
            border: 1px solid $gray
            border-radius: 5px
            background-color: $white
            outline: none
            cursor: pointer
            text-align: center
            @media #{$medium}
              +grid-column(6,$offset:3)
            option
              text-align: center
              font:
                size: em-cacl(28)
          img
            +grid-column(12)
            padding: 0 !important
            box-shadow: 5px 5px 5px $light-gray
            @media #{$medium}
              +grid-column(8,$offset:2)
          h5
            text-align: center
            padding-bottom: 20px
          &:nth-of-type(1)
            display: none
            @media #{$medium}
              display: inherit
