section.project
  .wrapper
    article
      +row
      +outer-container
      .coming-soon
        -webkit-animation-delay: 1s
        animation-delay: 1s
        padding: em-calc(75 0 50 0)
        position: absolute
        top: 40%
        bottom: 0
        right: 0
        left: 0
        h3, h5, p
          text-align: center
      &.hero
        +media($tablet)
          text-align: center
        .item-text
          +span-columns(12)
          margin-top: 150px
          margin-bottom: 50px
          +media($tablet)
            +span-columns(10)
            +shift(1)
          +media($mobile)
            +span-columns(8)
            +shift(2)
      &.content
        .item-image
          margin-top: 50px
          margin-bottom: 50px
          +span-columns(12)
          +media($tablet)
            +span-columns(9)
            +shift(1.5)
          +media($mobile)
            +span-columns(6)
            +shift(3)
      &.intro
        padding-top: 100px
        padding-bottom: 50px
        +media($tablet)
          padding-bottom: 100px
        +media($mobile)
          padding-top: 150px
        .item-text
          +span-columns(12)
          +media($tablet)
            +span-columns(5)
            padding-top: 100px
          +media($mobile)
            +span-columns(4)
        .item-image
          +span-columns(12)
          +media($tablet)
            +span-columns(7)
            padding-top: 75px
          +media($mobile)
            +span-columns(8)
            padding-top: 0
      &.image
        padding-bottom: 40px
        .item-image
          +span-columns(12)
          padding-top: 50px
          img
            display: block
            margin: 0 auto
            box-shadow: 5px 5px 5px $light-gray
          +media($tablet)
            +span-columns(7)
            padding: 0
          +media($mobile)
            +span-columns(7)
        .item-text
          +span-columns(12)
          +media($tablet)
            +span-columns(5)
            padding-top: 100px
          +media($mobile)
            +span-columns(5)
          h3
            padding-top: 20px
            padding-bottom: 20px
      &.tablet
        padding-bottom: 75px
        .item-text
          +span-columns(12)
          +media($tablet)
            +span-columns(6)
            padding-top: 200px
          +media($mobile)
            +span-columns(5)
          h3
            padding-top: 20px
            padding-bottom: 15px
        .item-image
          +span-columns(12)
          +media($tablet)
            +span-columns(6)
            padding-top: 75px
          +media($mobile)
            +span-columns(7)
            padding-top: 0
      &.phone
        padding-bottom: 40px
        .item-text
          +span-columns(12)
          +media($tablet)
            +span-columns(5)
            padding-top: 250px
          h3
            padding-top: 20px
            padding-bottom: 15px
        .item-image
          +span-columns(10)
          +shift(1)
          +media($tablet)
            +span-columns(7)
            +shift(0)
            padding-top: 75px
          +media($mobile)
            +span-columns(5)
            +shift(2)
            padding-top: 0
      &.compare
        padding-bottom: 40px
        .item-image
          +span-columns(12)
          padding-top: 50px
          +media($tablet)
            +span-columns(6)
          select
            +span-columns(12)
            border: 1px solid $gray
            border-radius: 5px
            background-color: $white
            outline: none
            cursor: pointer
            text-align: center
            +media($tablet)
              +span-columns(6)
              +shift(3)
            option
              text-align: center
              font:
                size: em-cacl(28)
          img
            +span-columns(12)
            padding: 0 !important
            box-shadow: 5px 5px 5px $light-gray
            +media($tablet)
              +span-columns(8)
              +shift(2)
          h5
            text-align: center
            padding-bottom: 20px
          &:nth-of-type(1)
            display: none
            +media($tablet)
              display: inherit
