section.resume
  .wrapper
    +row
    +outer-container
    article
      margin: 0
      padding-top: rem(50)
      padding-bottom: rem(50)
    ul
      margin: 0
      li
        list-style-type: none
    h3
      font-size: rem(18)
      font-family: $CGB
    h4
      font-size: rem(16)
      font-family: $CGB
    h5
      font-family: $CGB
  .wrapper.left
    +span-columns(3)
    +media($mobile)
      +span-columns(12)
    article
      padding-top: 0
      position: fixed
      top: 40%
      right: 0
      bottom: 0
      left: 5%
      +media($mobile)
        position: inherit
        padding-top: rem(100)
      h2
        color: $gray
  .wrapper.right
    +span-columns(9)
    +shift(3)
    +media($mobile)
      +span-columns(12)
      +shift(0)
    article
      h2
        color: $gray
      ul
        padding-left: 0
        margin-bottom: rem(20)
      h6.v
        color: $gray
        transform: rotate(-90deg)
        position: fixed
        bottom: 20%
        right: -7%
        +media($mobile)
          transform: inherit
          position: inherit
          bottom: 0
          right: 0
