section.resume
  article
    ul
      margin: 0
      li
        list-style-type: none
    h3
      font-size: em-calc(18)
      font-family: $CGB
    h4
      font-size: em-calc(16)
      font-family: $CGB
    h5
      font-family: $CGB
  article.left
    +grid-column(3)
    background-color: $red
    height: 100vh
    position: fixed
    figure
      position: fixed
      bottom: 0
  article.right
    +grid-column(9)
