section.m-resume-layout
  .wrapper
    +row
    +outer-container
    +media($desktop)
      padding: 0 rem(20)
    article
      margin: 0
      padding-top: rem(50)
      padding-bottom: rem(50)
      +span-columns(9)
      +shift(3)
      +media($mobile)
        +span-columns(12)
        +shift(0)
      figure
        margin: 0 0 rem(50) 0
        h2
          color: $gray
        dl
          margin: 0 0 rem(40) 0
        ul
          margin-bottom: rem(20)
        h6.v
          color: $gray
          transform: rotate(-90deg)
          position: fixed
          bottom: rem(250)
          right: 0
          +media($mobile)
            transform: inherit
            position: inherit
            bottom: 0
            right: 0
    aside
      width: 100%
      padding-top: 0
      position: fixed
      top: 20%
      right: 0
      bottom: 0
      left: 5%
      +media($mobile)
        position: inherit
        padding-top: rem(100)
      h2
        color: $gray
