@import "foundation"

.content.resume
  padding: em-calc(100 0 50 0)
  ul
    margin: 0
    padding: em-calc(0 0 20 0)
    li
      list-style-type: none
  h3
    font-size: em-calc(18)
    font-family: 'CriqueGrotesk-Bold', sans-serif
  h4
    font-size: em-calc(16)
    font-family: 'CriqueGrotesk-Bold', sans-serif
  h5
    font-family: 'CriqueGrotesk-Bold', sans-serif
  .panel-left
    @include grid-column(12)
    @media #{$large}
      @include grid-column(6)
    .education
  .panel-right
    @include grid-column(12)
    padding-top: em-calc(20)
    @media #{$large}
      @include grid-column(6)
      padding-top: em-calc(0)
    .position
      padding-bottom: em-calc(30)
