-# %footer
-#   .foot
-#     %article
-#       %h4 Are you ready to start a conversation?
-#       %article-icons
-#         %a.flaticon-mail59{:href => "mailto:jason.a.kellum@gmail.com", target: '_blank'}
-#         %a.flaticon-linkedin11{:href => "https://linkedin.com/in/jasonkellum", target: '_blank'}
-#         %a.flaticon-twitter13{:href => "https://twitter.com/jasonakellum", target: '_blank'}
-#         %a.flaticon-github5{:href => "https://github.com/JAKellum", target: '_blank'}
-# %a.exit-off-canvas
