%nav
  %i#trigger-overlay{:type => "button"} Open Overlay

// Open - Close
.overlay.overlay-slidedown
  %button.overlay-close{:type => "button"} Close
  %nav
    %h1 Jason Kellum
    %ul
      %li
        %a{:href => "#"} Resume
      %li
        %a{:href => "#"} Github
      %li
        %a{:href => "#"} LinkedIn
      %li
        %a{:href => "#"} Twitter
