%select.div-toggler{'data-target' => '.toggle-view'}
  %option{'data-show' => '.desk', :value => 'desk'} Desktop Resolutions
  %option{'data-show' => '.tab', :value => 'tab'}  Tablet-sized
  %option{'data-show' => '.mob', :value => 'mob'}  I'm Mobile Friendly
