%select.render.div-toggler{'data-target' => '.toggle-view'}
  %option{'data-show' => '.desk', :value => 'desk'} Desktop & Tablet Resolutions
  %option{'data-show' => '.mob', :value => 'mob'}  I'm Mobile Friendly
