%nav.subnav
  %ul
    %li
      %a.ion-home.wow.zoomIn{href: "/"}
    %li
      %a.ion-chevron-left.wow.zoomIn{href: "/work/matchstiq"}
    %li
      %a.ion-chevron-right.wow.zoomIn{href: "/work/ignite"}
%section.project
  %article
    %figure.hero
      .item-text.wow.fadeInUp
        %h2 Always Summer Poster Show 2014
        %h5 Typography Poster
        %p Text
    %figure.content
      .item-image.wow.fadeInUp
        = image_tag("work/asps-1.jpg")
