%nav.subnav
  %ul
    %li
      %a.ion-home.wow.zoomIn{href: '/'}
    %li
      %a.ion-chevron-left.wow.zoomIn{href: '/work/trucknseek'}
    %li
      %a.ion-chevron-right.wow.zoomIn{href: '/work/kyn'}
%section.project
  .wrapper
    %article.intro
      .item-text.wow.fadeInLeft
        %h2 Combofonts
        %h5 Webfont Combination Application (Preview)
        %p Combofonts is a personal project I've been working on which takes the google library of webfonts and provides ideal font pairs. The application asks a series of questions based on the tone and mood of the context, provides a few alternative results, and then gives the markup to include in any website. It is targeted towards developers or those who are not as familiar with typography.
        %p Case Study Coming Soon
      .item-image.wow.fadeInUp
        = image_tag('work/combofonts-devices.png')
    -# %article
    -#   .coming-soon.wow.fadeIn
    -#     %h3 Case Study Coming Soon
