%section.project
  %article
    %figure.subnav
      %a.ion-chevron-left.wow.zoomIn{href: "/work/aiga"}
      %a.ion-chevron-right.wow.zoomIn{href: "/work/asps"}
    -# %figure.intro
    -#   .item-text.wow.fadeInLeft
    -#     %h2 Matchstiq
    -#     %h5 Webfont Combination Application (Preview)
    -#     %p Combofonts is a personal project I've been working on which takes the google library of webfonts and provides ideal font pairs. The application asks a series of questions based on the tone and mood of the context, provides a few alternative results, and then gives the markup to include in any website. It is targeted towards developers or those who are not as familiar with typography.
    -#   .item-image.wow.fadeInUp
    -#     = image_tag("combofonts-devices.png")
    %figure
      .coming-soon.wow.fadeIn
        %h3 Matchstiq Case Study Coming Soon
