%nav.subnav
  %ul
    %li
      %a.ion-home.wow.zoomIn{href: "/"}
    %li
      %a.ion-chevron-left.wow.zoomIn{href: "/work/browndog"}
%section.project
  %article
    %figure.intro
      .item-text.wow.fadeInLeft
        %h2 Odyssey Ridge
        %h5 Golf Resort Email Template (Student Project)
        %p Odyssey Ridge is a golf resort brand concept. This email template would be sent out to any recent customers and those that have expressed interest in obtaining the yearly membership pass.
      .item-image.wow.fadeInUp
        = image_tag("work/odysseyridge-devices.png")
    %figure.image
      .item-image.wow.fadeInUp
        = image_tag("work/odysseyridge-1.jpg")
      .item-text.wow.fadeInRight
        %h3 Email Template
        %p The header of the page includes an image heavy display of the brand, contrasted below by a quick personalized message using plenty of negative space.
        %p The call to action at the end gives consumers a path to the main website, while providing an incentive (discount).
