%section.onespark.m-project-layout
  .wrapper.m-page.scene_element.scene_element--fadeinright
    %article.intro
      .item-text
        %h2 One Spark
        %h5 2016 Updates
        %p Writeup coming soon...
      .item-image
        %img{:src => '/assets/work/os-devices.gif', :srcset => '/assets/work/os-devices.gif 1x, /assets/work/os-devices@2x.gif 2x', :alt => 'One Spark Website'}
    %article.image
      .item-image.options
        .one
          .desk
            %img{:src => '/assets/work/os-signin-desktop.png', :srcset => '/assets/work/os-signin-desktop.png 1x, /assets/work/os-signin-desktop@2x.png 2x', :alt => 'Sign In'}
          .tab
            %img{:src => '/assets/work/os-signin-tablet.png', :srcset => '/assets/work/os-signin-tablet.png 1x, /assets/work/os-signin-tablet@2x.png 2x', :alt => 'Sign In'}
          .mob
            %img{:src => '/assets/work/os-signin-mobile.png', :srcset => '/assets/work/os-signin-mobile.png 1x, /assets/work/os-signin-mobile@2x.png 2x', :alt => 'Sign In'}
        .two.hide
          .desk
            %img{:src => '/assets/work/os-register-desktop.png', :srcset => '/assets/work/os-register-desktop.png 1x, /assets/work/os-register-desktop@2x.png 2x', :alt => 'Register'}
          .tab
            %img{:src => '/assets/work/os-register-tablet.png', :srcset => '/assets/work/os-register-tablet.png 1x, /assets/work/os-register-tablet@2x.png 2x', :alt => 'Register'}
          .mob
            %img{:src => '/assets/work/os-register-mobile.png', :srcset => '/assets/work/os-register-mobile.png 1x, /assets/work/os-register-mobile@2x.png 2x', :alt => 'Register'}
        .three.hide
          .desk
            %img{:src => '/assets/work/os-forgotpw-desktop.png', :srcset => '/assets/work/os-forgotpw-desktop.png 1x, /assets/work/os-forgotpw-desktop@2x.png 2x', :alt => 'Forgot Password'}
          .tab
            %img{:src => '/assets/work/os-forgotpw-tablet.png', :srcset => '/assets/work/os-forgotpw-tablet.png 1x, /assets/work/os-forgotpw-tablet@2x.png 2x', :alt => 'Forgot Password'}
          .mob
            %img{:src => '/assets/work/os-forgotpw-mobile.png', :srcset => '/assets/work/os-forgotpw-mobile.png 1x, /assets/work/os-forgotpw-mobile@2x.png 2x', :alt => 'Forgot Password'}
      .item-text
        %h3 Authentication Pages
        %select.div-toggler{'data-target' => '.options'}
          %option{'data-show' => '.one', :value => 'one'} Sign In
          %option{'data-show' => '.two', :value => 'two'}  Register
          %option{'data-show' => '.three', :value => 'three'}  Forgot Password
        %p Text
    %article.image
      .item-image.toggle-view
        .desk
          %img{:src => '/assets/work/os-launchpad-desktop.png', :srcset => '/assets/work/os-launchpad-desktop.png 1x, /assets/work/os-launchpad-desktop@2x.png 2x', :alt => 'Launchpad'}
        .tab
          %img{:src => '/assets/work/os-launchpad-tablet.png', :srcset => '/assets/work/os-launchpad-tablet.png 1x, /assets/work/os-launchpad-tablet@2x.png 2x', :alt => 'Launchpad'}
        .mob
          %img{:src => '/assets/work/os-launchpad-mobile.png', :srcset => '/assets/work/os-launchpad-mobile.png 1x, /assets/work/os-launchpad-mobile@2x.png 2x', :alt => 'Launchpad'}
      .item-text
        %h3 Launchpad
        -# %p Text
