%section.resume
  %article.left
    %figure
      %h1 R&eacute;sum&eacute;
      %a.button.ion-ios7-download{href: "jkellum-resume-fall2014.pdf"} PDF Resum&eacute;
  %article.right
    %figure
      %h5 Education
      %h3 University of North Florida
      %h6 Jan. 2009 &ndash; Dec. 2013 | Jacksonville, FL
      %p BFA with a concentration in Graphic Design and Digital Media
      %h5 Activities
      %h3 AIGA Jacksonville Board Member
      %h6 Aug. 2014 &ndash; Current | JAX Chapter
      %p Communications Chair, Newletter
      %h3 AIGA
      %h6 Sept. 2011 &ndash; Current | JAX Chapter
      %p Membership
      %h5 Skills
      %ul
        %li UI / UX
        %li HAML / SASS
        %li PHP / WordPress
        %li Responsive Design
        %li Adobe Creative Suite
        %li Lean-Startup Methods
        %li CSS Frameworks / jQuery
        %li Ruby on Rails / Command Line
        %li Github / Heroku
      %h6 References available upon request.
      %h5 Experience
      %h3 Ignite by Adecco
      %h6 May 2014 &ndash; Current | Jacksonville, FL
      %h4 UI / UX Designer
      %p Methodically takes complex problems and provides simple and elegant solutions.
      %h3 KYN
      %h6 Jan. 2014 &ndash; May 2014 | Jacksonville, FL
      %h4 Product Design Apprenticeship
      %p Designed and prototyped user experiences for companies in the program as well as consult on branding and marketing strategy.
      %h3 Spinnaker Media
      %h6 May 2012 &ndash; Dec. 2013 | Jacksonville, FL
      %p University of North Florida’s official school media source. 2013 ACP Online Pacemaker Finalist
      %h4 Digital Editor
      %p Responsible for all aspects of Spinnaker Digital publications and management: web services, editorial content, art and design, advertising, budget and personnel.
      %h4 Lead Digital Designer
      %p Designed WordPress theme for the Spinnaker’s 2012 site re&ndash;launch.
      %p Attended the 2012 Associated Collegiate Press National College Media Convention in Chicago, IL.
      %h3 Brown Dog Creative
      %h6 Feb. 2013 &ndash; Jul. 2013 | Jacksonville, FL
      %h4 Web Design Internship
      %p Assisted in design and development for many local clients.
      %h3 Salty Palms, LLC
      %h6 Jun. 2012 &ndash; Jan. 2013 | Saint Augustine, FL
      %p Designed tri-fold brochure and created custom-themed WordPress e-commerce website using WooCommerce.
      %h3 Publix
      %h6 Feb. 2005 &ndash; Feb. 2013 | Saint Augustine, FL
      %p Assisted in maintaining and managing product inventory.
      %p Store 1239’s first Employee of the Month.
