%section.resume
  %article.left
    %figure.wow.fadeInLeft
      %h2 R&eacute;sum&eacute;
      %a.button{href: "jkellum-resume-fall2014.pdf"}
        %i.ion-ios7-download
        PDF Resum&eacute;
  %article.right
    %figure
      %h2.wow.fadeIn Education
      %h3.wow.fadeIn University of North Florida
      %h6.wow.fadeIn Jan. 2009 &ndash; Dec. 2013 | Jacksonville, FL
      %p.wow.fadeIn BFA with a concentration in Graphic Design and Digital Media
      %h2.wow.fadeIn Activities
      %h3.wow.fadeIn AIGA Jacksonville Board Member
      %h6.wow.fadeIn Aug. 2014 &ndash; Current | JAX Chapter
      %p.wow.fadeIn Communications Chair, Newletter
      %h3.wow.fadeIn AIGA
      %h6.wow.fadeIn Sept. 2011 &ndash; Current | JAX Chapter
      %p.wow.fadeIn Membership
      %h2.wow.fadeIn Skills
      %ul
        %li.wow.fadeIn UI / UX
        %li.wow.fadeIn HAML / SASS
        %li.wow.fadeIn PHP / WordPress
        %li.wow.fadeIn Responsive Design
        %li.wow.fadeIn Adobe Creative Suite
        %li.wow.fadeIn Lean-Startup Methods
        %li.wow.fadeIn CSS Frameworks / jQuery
        %li.wow.fadeIn Ruby on Rails / Command Line
        %li.wow.fadeIn Github / Heroku
      %h2.wow.fadeIn Experience
      %h3.wow.fadeIn Ignite by Adecco
      %h6.wow.fadeIn May 2014 &ndash; Current | Jacksonville, FL
      %h4.wow.fadeIn UI / UX Designer
      %p.wow.fadeIn Methodically takes complex problems and provides simple and elegant solutions.
      %h3.wow.fadeIn KYN
      %h6.wow.fadeIn Jan. 2014 &ndash; May 2014 | Jacksonville, FL
      %h4.wow.fadeIn Product Design Apprenticeship
      %p.wow.fadeIn Designed and prototyped user experiences for companies in the program as well as consult on branding and marketing strategy.
      %h3.wow.fadeIn Spinnaker Media
      %h6.wow.fadeIn May 2012 &ndash; Dec. 2013 | Jacksonville, FL
      %p.wow.fadeIn University of North Florida’s official school media source. 2013 ACP Online Pacemaker Finalist
      %h4.wow.fadeIn Digital Editor
      %p.wow.fadeIn Responsible for all aspects of Spinnaker Digital publications and management: web services, editorial content, art and design, advertising, budget and personnel.
      %h4.wow.fadeIn Lead Digital Designer
      %p.wow.fadeIn Designed WordPress theme for the Spinnaker’s 2012 site re&ndash;launch.
      %p.wow.fadeIn Attended the 2012 Associated Collegiate Press National College Media Convention in Chicago, IL.
      %h3.wow.fadeIn Brown Dog Creative
      %h6.wow.fadeIn Feb. 2013 &ndash; Jul. 2013 | Jacksonville, FL
      %h4.wow.fadeIn Web Design Internship
      %p.wow.fadeIn Assisted in design and development for many local clients.
      %h3.wow.fadeIn Salty Palms, LLC
      %h6.wow.fadeIn Jun. 2012 &ndash; Jan. 2013 | Saint Augustine, FL
      %p.wow.fadeIn Designed tri-fold brochure and created custom-themed WordPress e-commerce website using WooCommerce.
      %h3.wow.fadeIn Publix
      %h6.wow.fadeIn Feb. 2005 &ndash; Feb. 2013 | Saint Augustine, FL
      %p.wow.fadeIn Assisted in maintaining and managing product inventory.
      %p.wow.fadeIn Store 1239’s first Employee of the Month.
      %h6.v.wow.fadeIn References available upon request.
