@font-face
  font-family: 'CriqueGrotesk-Light'
  src: image-url('../2AB117_0_0.eot')
  src: image-url('../2AB117_0_0.eot?#iefix') format("embedded-opentype"), image-url('../2AB117_0_0.woff') format("woff"), image-url('../2AB117_0_0.ttf') format("truetype")
@font-face
  font-family: 'CriqueGrotesk-LightItalic'
  src: image-url('../2AB117_1_0.eot')
  src: image-url('../2AB117_1_0.eot?#iefix') format("embedded-opentype"), image-url('../2AB117_1_0.woff') format("woff"), image-url('../2AB117_1_0.ttf') format("truetype")
@font-face
  font-family: 'CriqueGrotesk-Bold'
  src: image-url('../2AB117_3_0.eot')
  src: image-url('../2AB117_3_0.eot?#iefix') format("embedded-opentype"), image-url('../2AB117_3_0.woff') format("woff"), image-url('../2AB117_3_0.ttf') format("truetype")
@font-face
  font-family: 'CriqueGrotesk-Heavy'
  src: image-url('../2AB117_2_0.eot')
  src: image-url('../2AB117_2_0.eot?#iefix') format("embedded-opentype"), image-url('../2AB117_2_0.woff') format("woff"), image-url('../2AB117_2_0.ttf') format("truetype")
@font-face
  font-family: 'Calluna-Regular'
  src: image-url('../2AB5A3_0_0.eot')
  src: image-url('../2AB5A3_0_0.eot?#iefix') format("embedded-opentype"), image-url('../2AB5A3_0_0.woff') format("woff"), image-url('../2AB5A3_0_0.ttf') format("truetype")
@font-face
  font-family: "Flaticon"
  src: image-url("../flaticon.eot")
  src: image-url("../flaticon.eot#iefix") format("embedded-opentype"), image-url("../flaticon.woff") format("woff"), image-url("../flaticon.ttf") format("truetype"), image-url("../flaticon.svg") format("svg")
  font-weight: normal
  font-style: normal
[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after
  font-family: Flaticon
  font-size: 35px
  font-style: normal
  margin-left: 20px
.flaticon-github5:before
  color: white
  content: "\e000"
.flaticon-linkedin11:before
  color: white
  content: "\e001"
.flaticon-mail59:before
  color: white
  content: "\e002"
.flaticon-twitter13:before
  color: white
  content: "\e003"
