nav
  position: fixed
  top: 1%
  right: 2%
  z-index: 2000
  .ion-navicon
    font-size: em-calc(50)
    color: $gray
  .ion-navicon:hover
    color: $dark-red
    cursor: pointer
  img
    border-radius: 50%
    max-width: 100px
  i
    +single-transition
.overlay.overlay-slidedown
  z-index: 1000
  nav
    h1, h2, h3, p
      color: $white
    a
      color: $gray
      &:hover
        color: $dark-red
    ul
      max-width: em-calc(300)
      margin-top: em-calc(15)
      li
        +grid-column(4)
        i
          +single-transition
          font-size: em-calc(42)
          color: $gray
          &:hover
            color: $dark-red

.overlay.overlay-slidedown
  nav
    right: inherit

.subnav
  position: fixed
  top: 10px
  left: 5px
  z-index: 100
  ul
    margin: 0
    li
      display: inline-block
      list-stye-type: none
      a
        color: $gray
        font-size: em-calc(30)
        padding: em-calc(0 10)
      a:hover
        color: $dark-red
  select
    +grid-column(12)
    margin-top: 15px
    border: 1px solid $gray
    border-radius: 5px
    background-color: $white
    outline: none
    cursor: pointer
    text-align: center
    color: $gray
    @media #{$medium}
      +grid-column(3,$offset:4.5)
      position: absolute
      margin-top: 0
      top: 2px
    option
      text-align: center
      font:
        size: em-cacl(28)
