nav
  position: fixed
  top: 1%
  right: 2%
  z-index: 2000
  .ion-navicon
    font-size: em-calc(50)
    color: $gray
  .ion-navicon:hover
    color: $dark-red
    cursor: pointer
  img
    border-radius: 50%
    max-width: 100px
  i
    +single-transition
.overlay.overlay-slidedown
  z-index: 1000
  nav
    h1, h2, h3, p
      color: $white
    a:hover
      color: $white
    ul
      max-width: em-calc(300)
      margin-top: em-calc(15)
      li
        +grid-column(4)
        i
          +single-transition
          font-size: em-calc(42)
          color: $dark-red
          &:hover
            color: $white

.overlay.overlay-slidedown
  nav
    right: inherit

figure.subnav
  +grid-row
  padding-top: em-calc(20)
  padding-left: 1%
  position: fixed
  z-index: 100
  a
    color: $gray
    font-size: em-calc(30)
    padding: em-calc(0 10)
  a:hover
    color: $dark-red
