// Mixins
$light-gray: #f0f0f0
$gray: #dadada
$dark-gray: #333333
$white: white
$red: #c5202e
$red-o: rgba(197,32,46,0.9)
$dark-red: #772231
$CGL: 'CriqueGrotesk-Light', sans-serif
$CGR: 'CriqueGrotesk-Regular', sans-serif
$CGH: 'CriqueGrotesk-Heavy', sans-serif
$CGB: 'CriqueGrotesk-Bold', sans-serif

// Layout
.hide
  display: none

@import neat-helpers

// Neat Overrides
$column: 90px
$gutter: 20px
$grid-columns: 12
$max-width: em(1200)

// Neat Variables
$mobile-size:em(620)
$tablet-size:em(960)
$desktop-size:em(1200)

// Neat Breakpoints
$mobile: new-breakpoint(max-width $mobile-size)
$tablet: new-breakpoint(max-width $tablet-size)
$desktop: new-breakpoint(max-width $desktop-size)
