// Mixins
$white: white
$red: #c5202e
$dark-red: #772231
$CGL: 'CriqueGrotesk-Light', sans-serif
$CGR: 'CriqueGrotesk-Regular', sans-serif
$CGH: 'CriqueGrotesk-Heavy', sans-serif
$CGB: 'CriqueGrotesk-Bold', sans-serif

body
  background-color: $dark-red

// Layout
.wrapper
// +grid-row
.off-canvas-wrap
  .inner-wrap
    aside
      a.sub
        padding-left: em-calc(30)
    nav.tab-bar
      background-color: $white
      section.tab-bar-section
        background-color: $dark-red
        a
          color: $white
        a:hover
          color: $red
      section.right-small
        background-color: $dark-red
        border: none
    aside.right-off-canvas-menu
      background-color: $dark-red
      ul
        li
          a
            color: $white
          a:hover
            background-color: $red
          a.sub
            font-family: $CGL
            padding-left: em-calc(30)
.hidden
  visibility: hidden
